In [1]:
#!pip install pandas sqlalchemy sqlacodegen

In [2]:
import pickle
import pandas as pd

In [3]:
data = [{"name": "Justin"}]

with open("users.pkl", 'wb') as f:
    pickle.dump(data, f) # pickle.dump

In [4]:
data_from_pkl = pickle.load(open('users.pkl', 'rb')) # pickle.loads -> pickle.load
print(data_from_pkl, type(data_from_pkl))

[{'name': 'Justin'}] <class 'list'>

In [5]:
df = pd.DataFrame(data)
df.head()

     name
0  Justin

In [6]:
df.to_pickle("df_pkl")
df.dtypes

name    object
dtype: object

In [7]:
df2 = pd.read_pickle("df_pkl")
df2.head()

     name
0  Justin

In [8]:
df2.dtypes

name    object
dtype: object

In [9]:
df.to_csv("my_df.csv", index=False)

# SQLAlchemy

SQLAlchmey & Django have a similar object-relational mappings (aka ORM) are ways to connect Python to a SQL database.

In [10]:
from dataclasses import dataclass

@dataclass
class Movie:
    name:str = 'Unknown'
    genre:str = 'Action'
    year:int = None
    
# class Movie:
#     name = 'Unknown'
#     genre = 'Action'
    
#     def __init__(self, name='', *args, **kwargs):
#         super().__init__(*args, **kwargs)
#         self.name = name

In [11]:
movie_obj = Movie(name='Interstellar', genre='Sci-Fi')
movie_obj.name

'Interstellar'

In [12]:
data = [{
    "name": "Interstellar",
    "genre": "Sci-Fi"
},
{
    "name": "The Martian",
    "genre": "Sci-Fi"
},
{
    "name": "Arrival",
    "genre": "Sci-Fi"
}
]

In [13]:
df = pd.DataFrame(data)
df.head()

           name   genre
0  Interstellar  Sci-Fi
1   The Martian  Sci-Fi
2       Arrival  Sci-Fi

In [14]:
import sqlalchemy
from sqlalchemy import Column, Integer, String
from sqlalchemy import create_engine, Column, String, Integer
from sqlalchemy.orm import sessionmaker

In [15]:
engine = create_engine("sqlite:///app.db") # mysql, postgres

In [16]:
Session = sessionmaker(bind=engine)
my_sess = Session()

# why not this way? :

#my_sess = sessionmaker(bind=engine)

# Because it throw an error......

Vytvorenie tabulky pomocou triedy:

In [17]:
from sqlalchemy.ext.declarative import declarative_base

Base = declarative_base()

In [18]:
class Movie(Base): # table
    __tablename__ = "movies"
    
    id = Column(Integer, primary_key=True) # auto created for us
    name = Column(String) # 'Unknown' # col
    genre = Column(String) # 'Action' # col
    description = Column(String) # 'Action' # col
    year = Column(Integer, nullable=True) # None # col
    
    # String representation of this class:
    def __repr__(self):
        return f"<Movie name={self.name}>"
        
# saved instance = row

In [19]:
# Add table(s) to database
Base.metadata.create_all(engine)

In [20]:
movie_obj = Movie(name='Interstellar', genre='Sci-Fi')
print(movie_obj.name)

Interstellar

In [21]:
movie_obj.id

Ešte zapísať do DB

In [22]:
my_sess.add(movie_obj) # prepare to save
my_sess.commit() # save

In [23]:
print(movie_obj.id, movie_obj.description)

1 None

In [36]:
movie_obj2 = Movie(name='The Martian', genre='Sci-Fi')
print(movie_obj2.name, movie_obj2.id)

The Martian None

In [37]:
my_sess.add(movie_obj2)

In [38]:
movie_obj3 = Movie(name='Inception', genre='Sci-Fi')
print(movie_obj3.name, movie_obj3.id)

Inception None

In [39]:
my_sess.add(movie_obj3)

In [40]:
my_sess.commit()

In [41]:
print(movie_obj2.id, movie_obj3.id)

5 6

# CRUD in SQLAlchemy
Create
Retreive
Update
Delete

In [42]:
Session = sessionmaker(bind=engine)
session = Session()

# Create

In [43]:

movie = Movie(name='Guaridans of the Galaxy')
session.add(movie)
session.commit()

In [44]:
print(movie.id)

7

# Retreive

## Get 1 item

In [52]:
movie_a = session.query(Movie).get(3)
print(movie_a.id, movie_a.name, movie_a.description)

3 Inception None

## List

In [46]:
qs = session.query(Movie).all()
print(qs)

[<Movie name=Interstellar>, <Movie name=The Martian>, <Movie name=Inception>, <Movie name=Guaridans of the Galaxy>, <Movie name=The Martian>, <Movie name=Inception>, <Movie name=Guaridans of the Galaxy>]

## List & Filter by Column Value

In [48]:
qs = session.query(Movie).filter_by(name='Guaridans of the Galaxy').all()
qs

## List & Filter by Column Value Containing Something

In [49]:

qs = session.query(Movie).filter(Movie.name.contains("Guaridans")).all()
qs

## List & Filter by Column Value Containing Something

In [50]:
my_query = input("What are you looking for?\n") or "Unknown"
qs = session.query(Movie).filter(Movie.name.contains(my_query)).all()
print(qs)

What are you looking for?
gua
[<Movie name=Guaridans of the Galaxy>, <Movie name=Guaridans of the Galaxy>]

# Update

In [57]:
movie_a = session.query(Movie).get(3)
movie_a.description = "A dream within a dream"
print(movie_a.id, movie_a.name, movie_a.description)
session.commit()

3 Inception A dream within a dream

In [58]:
movie_a = session.query(Movie).get(3)
print(movie_a.description)

A dream within a dream

In [59]:
qs = session.query(Movie).filter(Movie.name.contains("Guaridans")).all()
for movie_obj in qs:
    movie_obj.name = "Guardians of the Galaxy"
session.commit()

In [60]:
qs = session.query(Movie).filter(Movie.name.contains("Guaridans")).all()
qs

[]

# Delete

In [61]:
movie_a = session.query(Movie).get(1)
print(movie_a.id, movie_a.name, movie_a.description)

1 Interstellar None

In [62]:
session.delete(movie_a)

In [63]:
session.flush()

# SQLAlchemy & Pandas

In [65]:
!sqlacodegen sqlite:///app2.db

# coding: utf-8
from sqlalchemy import Column, Integer, String
from sqlalchemy.ext.declarative import declarative_base

Base = declarative_base()
metadata = Base.metadata


class Movie(Base):
    __tablename__ = 'movies'

    id = Column(Integer, primary_key=True)
    name = Column(String)
    genre = Column(String)
    year = Column(Integer)

In [66]:
engine = create_engine("sqlite:///app2.db")
Session = sessionmaker(bind=engine)
session = Session()

In [71]:
# coding: utf-8
from sqlalchemy import Column, Integer, String
from sqlalchemy.ext.declarative import declarative_base

Base = declarative_base()
metadata = Base.metadata


class MovieApp2(Base):
    __tablename__ = 'movies'

    id = Column(Integer, primary_key=True)
    name = Column(String)
    genre = Column(String)
    year = Column(Integer)
    
    # String representation of this class:
    def __repr__(self):
        return f"<Movie name={self.name}>"

In [72]:
qs = session.query(MovieApp2).all()
print(qs)

[<Movie name=Interstellar>, <Movie name=The Martian>, <Movie name=Inception>]

In [83]:
for old_obj in qs:
    #stored_data_dict = old_obj.__dict__
    #print(stored_data_dict)
    movie_obj = Movie(name = old_obj.name, genre = old_obj.genre, year = old_obj.year)
    print(movie_obj.name)
    my_sess.add(movie_obj)
my_sess.commit()

Interstellar
The Martian
Inception

# Prevod DB cez pandas

In [84]:
old_engine = create_engine("sqlite:///app2.db")
old_df = pd.read_sql_table("movies", old_engine)
old_df.head()

   id          name   genre  year
0   1  Interstellar  Sci-Fi  None
1   2   The Martian  Sci-Fi  None
2   3     Inception  Sci-Fi  None

In [86]:
current_engine = create_engine("sqlite:///app.db")
current_df = pd.read_sql_table("movies", current_engine)
current_df.head(100)

    id                     name   genre             description  year
0    1             Interstellar  Sci-Fi                    None  None
1    2              The Martian  Sci-Fi                    None  None
2    3                Inception  Sci-Fi  A dream within a dream  None
3    4  Guardians of the Galaxy    None                    None  None
4    5              The Martian  Sci-Fi       An another planet  None
5    6                Inception  Sci-Fi                    None  None
6    7  Guardians of the Galaxy    None                    None  None
7    8             Interstellar  Sci-Fi                    None  None
8    9              The Martian  Sci-Fi                    None  None
9   10                Inception  Sci-Fi                    None  None
10  11             Interstellar  Sci-Fi                    None  None
11  12              The Martian  Sci-Fi                    None  None
12  13                Inception  Sci-Fi                    None  None
13  14             Interstellar  Sci-Fi                    None  None
14  15              The Martian  Sci-Fi                    None  None
15  16                Inception  Sci-Fi                    None  None
16  17             Interstellar  Sci-Fi                    None  None
17  18              The Martian  Sci-Fi                    None  None
18  19                Inception  Sci-Fi                    None  None
19  20             Interstellar  Sci-Fi                    None  None
20  21              The Martian  Sci-Fi                    None  None
21  22                Inception  Sci-Fi                    None  None
22  23             Interstellar  Sci-Fi                    None  None
23  24              The Martian  Sci-Fi                    None  None
24  25                Inception  Sci-Fi                    None  None

In [87]:
final_df = pd.concat([current_df, old_df])
final_df.head(100)

    id                     name   genre             description  year
0    1             Interstellar  Sci-Fi                    None  None
1    2              The Martian  Sci-Fi                    None  None
2    3                Inception  Sci-Fi  A dream within a dream  None
3    4  Guardians of the Galaxy    None                    None  None
4    5              The Martian  Sci-Fi       An another planet  None
5    6                Inception  Sci-Fi                    None  None
6    7  Guardians of the Galaxy    None                    None  None
7    8             Interstellar  Sci-Fi                    None  None
8    9              The Martian  Sci-Fi                    None  None
9   10                Inception  Sci-Fi                    None  None
10  11             Interstellar  Sci-Fi                    None  None
11  12              The Martian  Sci-Fi                    None  None
12  13                Inception  Sci-Fi                    None  None
13  14             Interstellar  Sci-Fi                    None  None
14  15              The Martian  Sci-Fi                    None  None
15  16                Inception  Sci-Fi                    None  None
16  17             Interstellar  Sci-Fi                    None  None
17  18              The Martian  Sci-Fi                    None  None
18  19                Inception  Sci-Fi                    None  None
19  20             Interstellar  Sci-Fi                    None  None
20  21              The Martian  Sci-Fi                    None  None
21  22                Inception  Sci-Fi                    None  None
22  23             Interstellar  Sci-Fi                    None  None
23  24              The Martian  Sci-Fi                    None  None
24  25                Inception  Sci-Fi                    None  None
0    1             Interstellar  Sci-Fi                     NaN  None
1    2              The Martian  Sci-Fi                     NaN  None
2    3                Inception  Sci-Fi                     NaN  None

In [89]:
final_df = final_df[['name', 'genre', 'description', 'year']]
final_df.reset_index(inplace=True, drop=True)
final_df.head(100)

                       name   genre             description  year
0              Interstellar  Sci-Fi                    None  None
1               The Martian  Sci-Fi                    None  None
2                 Inception  Sci-Fi  A dream within a dream  None
3   Guardians of the Galaxy    None                    None  None
4               The Martian  Sci-Fi       An another planet  None
5                 Inception  Sci-Fi                    None  None
6   Guardians of the Galaxy    None                    None  None
7              Interstellar  Sci-Fi                    None  None
8               The Martian  Sci-Fi                    None  None
9                 Inception  Sci-Fi                    None  None
10             Interstellar  Sci-Fi                    None  None
11              The Martian  Sci-Fi                    None  None
12                Inception  Sci-Fi                    None  None
13             Interstellar  Sci-Fi                    None  None
14              The Martian  Sci-Fi                    None  None
15                Inception  Sci-Fi                    None  None
16             Interstellar  Sci-Fi                    None  None
17              The Martian  Sci-Fi                    None  None
18                Inception  Sci-Fi                    None  None
19             Interstellar  Sci-Fi                    None  None
20              The Martian  Sci-Fi                    None  None
21                Inception  Sci-Fi                    None  None
22             Interstellar  Sci-Fi                    None  None
23              The Martian  Sci-Fi                    None  None
24                Inception  Sci-Fi                    None  None
25             Interstellar  Sci-Fi                     NaN  None
26              The Martian  Sci-Fi                     NaN  None
27                Inception  Sci-Fi                     NaN  None

In [92]:
final_df.to_sql(
    "movies_2",
    current_engine,
    dtype = {
        "name": String,
        "genre": String,
        "year": Integer,
        "description": String
    }
)

ValueError: Table 'movies' already exists.

In [91]:
!sqlacodegen sqlite:///app.db

# coding: utf-8
from sqlalchemy import BigInteger, Column, Integer, String, Table
from sqlalchemy.ext.declarative import declarative_base

Base = declarative_base()
metadata = Base.metadata


class Movie(Base):
    __tablename__ = 'movies'

    id = Column(Integer, primary_key=True)
    name = Column(String)
    genre = Column(String)
    description = Column(String)
    year = Column(Integer)


t_movies_2 = Table(
    'movies_2', metadata,
    Column('index', BigInteger, index=True),
    Column('name', String),
    Column('genre', String),
    Column('description', String),
    Column('year', Integer)
)

In [93]:
final_df.to_sql(
    "movies",
    current_engine,
    if_exists='replace', # 'fail' 'append' ''''''
    dtype = {
        "name": String,
        "genre": String,
        "year": Integer,
        "description": String
    }
)

28

In [94]:
!sqlacodegen sqlite:///app.db

# coding: utf-8
from sqlalchemy import BigInteger, Column, Integer, MetaData, String, Table

metadata = MetaData()


t_movies = Table(
    'movies', metadata,
    Column('index', BigInteger, index=True),
    Column('name', String),
    Column('genre', String),
    Column('description', String),
    Column('year', Integer)
)


t_movies_2 = Table(
    'movies_2', metadata,
    Column('index', BigInteger, index=True),
    Column('name', String),
    Column('genre', String),
    Column('description', String),
    Column('year', Integer)
)

In [97]:
import sqlite3

conx = sqlite3.connect('app.db')
conx2 = create_engine("sqlite:///app.db")
df = pd.read_sql_query("SELECT * FROM movies", conx2)
df.head()

   index                     name   genre             description  year
0      0             Interstellar  Sci-Fi                    None  None
1      1              The Martian  Sci-Fi                    None  None
2      2                Inception  Sci-Fi  A dream within a dream  None
3      3  Guardians of the Galaxy    None                    None  None
4      4              The Martian  Sci-Fi       An another planet  None