# Lists

In [47]:
lst1 = []

print(lst1)

lst2 = [10,20,3,25,55,85,100]

print(lst2)

lst3 = ["Python","Java","C"]

print(lst3)

lst4 = [45,92.55,"C"]

print(lst4)

lst5 = [[45,92.55,"C"],[15,25,63]]

print(lst5)

[]
[10, 20, 3, 25, 55, 85, 100]
['Python', 'Java', 'C']
[45, 92.55, 'C']
[[45, 92.55, 'C'], [15, 25, 63]]

In [45]:
print(lst2)
print (lst2[2])
print (lst2[-2])
print (lst2[1:3])
print (lst2[:])
print (lst2[1:])
print (lst2[:3])

[10, 20, 3, 25, 55, 85, 100]
3
85
[20, 3]
[10, 20, 3, 25, 55, 85, 100]
[20, 3, 25, 55, 85, 100]
[10, 20, 3]

In [18]:
print(lst3)

# Updating

print("List before update", lst3)
lst3[2] = 'R'

print("List after update", lst3)
lst3[2] = 'C'

['Python', 'Java', 'R']
List before update ['Python', 'Java', 'R']
List after update ['Python', 'Java', 'R']

In [21]:
# Delete....
lst3 = ["Python","Java","C"]
del lst3[2]
print(lst3)

del lst3
print(lst3)

['Python', 'Java']

NameError: name 'lst3' is not defined

In [22]:
lst3 = ["Python","Java","C"]

In [23]:
# Traversin list by loops

for element in lst3:
    print(element)

Python
Java
C

In [28]:
# Concatenation

finl = lst4+lst2
print (lst4)
print (lst2)
print (finl)



# Lenght of list

print ("Dlzka listu je ",len(finl))

[45, 92.55, 'C']
[10, 20, 3, 25, 55, 85, 100]
[45, 92.55, 'C', 10, 20, 3, 25, 55, 85, 100]
Dlzka listu je  10

In [30]:
# Repetition 
print(finl*8)

print("Pôvodný ",finl)

[45, 92.55, 'C', 10, 20, 3, 25, 55, 85, 100, 45, 92.55, 'C', 10, 20, 3, 25, 55, 85, 100, 45, 92.55, 'C', 10, 20, 3, 25, 55, 85, 100, 45, 92.55, 'C', 10, 20, 3, 25, 55, 85, 100, 45, 92.55, 'C', 10, 20, 3, 25, 55, 85, 100, 45, 92.55, 'C', 10, 20, 3, 25, 55, 85, 100, 45, 92.55, 'C', 10, 20, 3, 25, 55, 85, 100, 45, 92.55, 'C', 10, 20, 3, 25, 55, 85, 100]
Pôvodný  [45, 92.55, 'C', 10, 20, 3, 25, 55, 85, 100]

In [34]:
# Memnbership


print (25 in finl)
print (26 not in finl)

True
True

In [35]:
# Min and Max and Sum

print("Smalest is:", min(lst2))
print("Bigest is:", max(lst2))

print("Suma je :", sum(lst2))

Smalest is: 3
Bigest is: 100
Suma je : 298

In [38]:
# Append

print(lst3)
lst3.append("C++")
print(lst3)

lst3.append(lst2)

print(lst3)

['Python', 'Java', 'C', 'C++']
['Python', 'Java', 'C', 'C++', 'C++']
['Python', 'Java', 'C', 'C++', 'C++', [10, 20, 3, 25, 55, 85, 100]]

In [40]:
# Extending
lst3 = ["Python","Java","C"]
print(lst3)
lst3.extend(lst2)
print(lst3)



lst3 = ["Python","Java","C"]

['Python', 'Java', 'C']
['Python', 'Java', 'C', 10, 20, 3, 25, 55, 85, 100]

In [46]:
# Insert

print(lst2)
print(lst3)

lst2.insert(3,99)
print(lst2)
lst3.insert(1,"C++")
print(lst3)

lst2 = [10,20,3,25,55,85,100]
lst3 = ["Python","Java","C"]

[10, 20, 3, 25, 55, 85, 100]
['Python', 'Java', 'C']
[10, 20, 3, 99, 25, 55, 85, 100]
['Python', 'C++', 'Java', 'C']

In [49]:
# Remove
lst3 = ["Python","Java","C"]
lst3.remove("C")
print(lst3)
lst3 = ["Python","Java","C"]

['Python', 'Java']

In [53]:
# POP
lst3 = ["Python","Java","C"]
a = lst3.pop()
print(lst3)
lst3 = ["Python","Java","C"]
print(lst3)
a = lst3.pop(0)
print(lst3)
lst3 = ["Python","Java","C"]

['Python', 'Java']
['Python', 'Java', 'C']
['Java', 'C']

In [55]:
# Count
print(lst2)
print(lst2.count(20))

[10, 20, 3, 25, 55, 85, 100]
1

In [56]:
# Reverse
print(lst2)
lst2.reverse()
print(lst2)

[10, 20, 3, 25, 55, 85, 100]
[100, 85, 55, 25, 3, 20, 10]

In [60]:
# Sort
print(lst2)
print(lst3)
lst2.sort(reverse=True)
lst3.sort()
print("Sorted: ", lst2)
print("Sorted: ", lst3)

[3, 10, 20, 25, 55, 85, 100]
['C', 'Java', 'Python']
Sorted:  [100, 85, 55, 25, 20, 10, 3]
Sorted:  ['C', 'Java', 'Python']

In [64]:
# String split

str1 = "Welcome home fernando"
print(str1.split())

str2 = "Vlado,Nina,Natasha,Alex,Nicole"
print(str2.split(','))

str3 = "654364:3684368:43684368:436836873:687368:7136:876:3749"
print(str3.split(':'))

['Welcome', 'home', 'fernando']
['Vlado', 'Nina', 'Natasha', 'Alex', 'Nicole']
['654364', '3684368', '43684368', '436836873', '687368', '7136', '876', '3749']

In [67]:
# List comprehension

cube = []

for i in range(10):
    cube.append(i**3)
print(cube)

cube = [i**3 for i in range(10)]
print(cube)

lst111 = [x for x in range(20) if x%2 ==0]
print("Párne cisla su : ", lst111)
lst222 = [x for x in range(20) if x%2 !=0]
print("Nepárne cisla su : ", lst222)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]
[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]
Párne cisla su :  [0, 2, 4, 6, 8, 10, 12, 14, 16, 18]
Nepárne cisla su :  [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]